In [1]:
import pandas as pd
import os
import sys
import fileinput

In [2]:
mimic = '/Users/djemec/data/mimic/raw_disch_full.csv'
mimic_clean = '/Users/djemec/data/mimic/raw_disch_full_clean.csv'
mimic_out = '/Users/djemec/data/mimic/individual/'

In [3]:
# Read in the file
with open(mimic, 'r') as file:
    fd = file.read()

# Replace the target string
fd = fd.replace('\n', '<nl>')
fd = fd.replace('ryan<nl>', '\n')

# Write the file out again
with open(mimic_clean, 'w') as file:
    file.write(fd)

In [4]:
df = pd.read_csv(mimic_clean,delimiter='\|\|',engine='python',header=0, lineterminator='\n')

In [5]:
df.tail()

,SUBJECT_ID,HADM_ID,CHARTTIME,TEXT
59647,93924,135672,NaN,"Name: [**Known lastname 18321**],[**Known fir..."
59648,17782,155710,NaN,"Name: [**Known lastname 2706**], [**Known fir..."
59649,96333,183951,NaN,Name: [**Known lastname 18357**]-[**Known las...
59650,66717,169165,NaN,"Name: [**Known lastname **],[**Known firstnam..."
59651,73790,157100,NaN,"Name: [**Known lastname 12459**],[**Known fir..."

In [6]:
for index, row in df.iterrows():
    text = row['TEXT']
    text = text.replace('<nl>', '\n')
    with open(mimic_out+ f'mimic_raw_note_{index}.txt', "w") as f:
        f.write(text)